a {
	color: rgba(255, 255, 255, 0.8);
}

.header {
	background-image: url('../img/homeimg/Back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	padding-bottom: 10px;
}
.topic h1 {
	font-family: 'Metal Mania', cursive;
	color: rgb(46, 12, 12);
	font-size: 150px;
	padding-top: 60px;
	padding-left: 60px;
}
.topic h3 {
	font-family: 'Libre Baskerville', serif;
	color: rgb(46, 12, 12);
	font-size: 30px;
	padding-left: 60px;
}

/* styling second page */

.caro img {
	width: 100%;
	height: 450px;
}
.caro p {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
}
.caro h2 {
	font-family: 'Patua One', cursive;
	font-size: 50px;
}
/* modal styling */

.disp {
	display: flex;
	flex-direction: column;
}
.disp input {
	margin-bottom: 6px;
	border-radius: 5px;
}

/* Conference Styling */
.work {
	background-color: #1e1c27;
	color: white;
	text-align: center;
	margin-bottom: -8px;
	padding-bottom: 5px;
}

.conf {
	background-color: white;
	color: rgb(46, 12, 12);
	border: 1px solid rgb(46, 12, 12);
}
.mar {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	background-image: url('../img/homeimg/Back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.footer {
	margin-top: 0px;
	background-color: #1e1c27;
	height: 50px;
}
.des {
	background-image: url('../img/homeimg/Back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 100px;
	padding-right: 100px;
	color: rgb(46, 12, 12);
	padding-bottom: 20px;
	padding-top: 20px;
	font-weight: 300;
}
.des img {
	position: relative;
	top: 50px;
	left: 10px;
	width: 450px;
	height: 510px;
}
.des p {
	padding: 30px 20px 30px 20px;
}
.imags {
	width: 100%;
	height: 450px;
}
.tex {
	font-family: 'Berkshire Swash', cursive;
	font-size: 100px;
	color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgb(46, 12, 12);
}

.bg {
	background-color: rgb(46, 12, 12);
	color: white;
}
.lead {
	font-weight: 400;
	margin-left: -16px;
}
.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.donatebtn {
	background-color: rgb(46, 12, 12);
	margin-bottom: 20px;
	margin-top: -10px;
}
.headimg {
	margin-left: 200px;
	padding-top: 30px;
	width: 350px;
}
.navright {
	justify-content: right;
	padding-right: 40px;
}
a:hover {
	color: rgba(255, 255, 255, 1);
}
.nav-item {
	padding-right: 15px;
}
.navbar-brand {
	padding-left: 30px;
}
