body {
	background-image: url('../img/homeimg/Back.jpg');
	background-size: cover;
}

.work {
	background-color: #1e1c27;
	color: white;
}
.container {
	padding-top: 30px;
}

.footer {
	background-color: #1e1c27;
	height: 50px;
}

.card-body p {
	padding: 10px 3px 5px 3px;
	text-align: justify;
}
.imag {
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 20px;
}

.card {
	background-color: rgb(46, 12, 12);
	color: white;
	height: 600px;
	padding: auto;
}
.disp {
	display: flex;
	flex-direction: column;
	color: black;
}
.modal-title{
	color: black;
}
.disp input {
	margin-bottom: 6px;
	border-radius: 5px;
}
.flo {
	display: flex;
	flex-direction: row;
}
label {
	padding: 5px;
	margin: 5px;
}
